*,::after,::before{margin: 0px;box-sizing: border-box;}
a{text-decoration: none;}
button{cursor: pointer;}
:disabled{cursor: not-allowed;}
 @font-face {
    font-family: asb;
    src: url(../fonts/ArlonSemiBold-DEMO.otf);
}
@font-face {
    font-family: rt;
    src: url(../fonts/Roboto-Thin.woff2);
}
@font-face {
    font-family: rr;
    src: url(../fonts/roboto-regular.woff2);
}

@font-face {
    font-family: pr;
    src: url(../fonts/poppins-regular-webfont.woff2);
}
@font-face {
    font-family: pb;
    src: url(../fonts/poppins-bold-webfont.woff2);
}  
.flex{display: flex;}
html{font-size: 62.5%;}
.container{max-width: 1200px; margin: auto; padding: 0 15px;}
.row{display: flex; flex-flow: row wrap; margin: 0 -15px;}
.row [class^="col-"]{flex: 1 1 auto; padding: 0 15px;}

.row .col-1{flex-basis: 8.33%; max-width: 8.33%;}
.row .col-2{flex-basis:16.66%; max-width: 16.66%;}
.row .col-3{flex-basis:25%;max-width: 25%;}
.row .col-4{flex-basis:33.33%; max-width: 33.33%;}
.row .col-5{flex-basis:41.66%;max-width: 41.66%;}
.row .col-6{flex-basis:50%; max-width: 50%;}
.row .col-7{flex-basis:58.33%; max-width:58.33%;}
.row .col-8{flex-basis:66.66%; max-width: 66.66%;}
.row .col-9{flex-basis:75%; max-width:75%;}
.row .col-10{flex-basis:83.33%; max-width:83.33%;}
.row .col-11{flex-basis:91.66%; max-width:91.66%;}
.row .col-12{flex-basis:100%; max-width: 100%;}

.wrap-1{background-color: #052501;}
.wrap-1 h1{margin-top: 3rem; margin-right: 8px;}
.wrap-1 h2{font-size: 3rem; font-family: asb; color:#459824;margin: auto 0;}
.wrap-1 .flex b{display: block; font-size: 1rem; font-family: asb; color:#fff; }
.wrap-1 .fa-solid{color:#459824;}
.wrap-1 h3 a{font-size: 1.7rem; color: #fff; font-family: rr; line-height: 100px; }
.justify{justify-content: space-between;}
/* mob button */
.wrap-1 .hidden{display: none;}
.wrap-1 .mob{ width: 90px; height: 50px; border: 2px solid #459824; border-radius: 6px; background: transparent;}
.wrap-1 .mob span{width: 50px; height: 2px; display: block; background-color: #37761e; margin: 5px auto; transition: 0.3s linear;}
.wrap-1 .mob.active span{transform-origin:right center;}
.wrap-1 .mob.active span:nth-child(1){transform: rotate(-16deg);}
.wrap-1 .mob.active span:nth-child(2){opacity:0;}
.wrap-1 .mob.active span:nth-child(3){transform: rotate(16deg);}

.wrap-2{ background:url(../img/cc2.jpg) no-repeat center/cover;  }
.wrap-2 .background-color{background-color: #090501; clip-path: polygon(0 0, 100% 0%, 100% 100%, 3% 100%);}
.wrap-2 nav ul{display: flex; padding: 0;}
.wrap-2 nav ul li{list-style: none;margin: 0 8px; }
.wrap-2 nav ul li a{font-family: pr; font-size: 1.6rem; color: #fff; display: block;padding: 6px 12px;line-height: 60px;}
.wrap-2 .flex-box{display:flex; justify-content: space-between;}
.wrap-2 .search-bar{margin:auto}
.wrap-2 .search-bar form input {padding-left: 25px;}
.wrap-2 .search-bar {position: relative;}
.wrap-2 input{width: 236px;height: 33px;}
.wrap-2 i{position: absolute;top: 10px;left: 5px;font-size: 1.6rem; }
.wrap-2 .search{height: 36px; background-color: #459824;}
.wrap-2 p:nth-child(1){margin-top: 140px; font-family: pb; font-size: 11rem; color: #fff;line-height: 84px;}
.wrap-2 p:nth-child(2){ font-family: pb; font-size: 4.4rem; color: #459824;}
.wrap-2 p:nth-child(3){ font-family: rr; font-size: 2.5rem; color: #fff;}
.wrap-2 .btn{margin: 60px 10px ; border: none;line-height: 40px; width: 140px;background-color: #fff;}
.wrap-2 .btn:hover{background-color: #052501; color: #fff;}

.wrap-2 .flex-box {border-bottom: 2px solid #459824;border-right: 2px solid #459824;}

.wrap-3{margin: 70px;}
.wrap-3 h3{font-size: 4rem;font-family: rr;}
.wrap-3 img{max-width: 100%;}
.wrap-3 h3 > span{font-size: 4rem;font-family: rt; color: #459824; border-bottom: 1px solid #000;}
.wrap-3 p{font-size: 1.8rem; margin: 100px 0; line-height: 30px;}
.wrap-3 button{width: 255px; height:62px; border:none; border-radius: 4px; color: #fff; background-color: #052501; font-size: 1.8rem;}


.wrap-4{background-color: #052501; padding: 60px 0;}
.wrap-4 img{display: block; margin: auto; width: 70px; height: 70px;} 
.wrap-4 h3{font-family: rb; font-size:5rem;color: #459824; text-align: center;}
.wrap-4 p{font-family: rr; font-size:2rem; color:#fff; text-align: center;}

.wrap-5{padding: 70px;}
.wrap-5 h3{color: #052501; font-family: rr; font-size: 5rem; text-align: center; }
.wrap-5 h3 > span{color: #459824; font-family:rt; font-size: 5rem; border-bottom: 2px solid #000;}

.wrap-6{background-color: #052501;}
.wrap-6 h3{margin-top: 60px; font-size: 3rem; font-family: rr;color: #fff; text-align: center;}
.wrap-6 img{border-radius: 50px; display: block; margin: auto; margin: 20px 0;max-width: 100%; width: 350px; height: 277px;}
.wrap-6 p{font-size: 1.6rem;color: #fff;}
.wrap-6 button{margin-top: 35px; margin-bottom: 85px; width: 255px; height:62px; border:none; border-radius: 4px; color: #052501; background-color: #fff; font-size: 1.8rem;}
.wrap-6 .mg-button-1{margin-top: 70px;}
.wrap-6 .mg-button-2{margin-top: 140px;}
.wrap-6 img:hover{box-shadow:10px 7px 5px black ; transform: scale(1.005);}



.wrap-7{padding-bottom: 40px;}
.wrap-7 h3{color: #052501; font-family: rr; font-size: 5rem; margin: 70px 0; }
.wrap-7 h3 > span{color: #459824; font-family:rt; font-size: 5rem; border-bottom: 2px solid #000;}
.wrap-7 img{max-width: 100%;height: 290px;}
.wrap-7 img:hover{box-shadow:10px 10px 5px black ;}
.wrap-7 .image-over p{font-family: rr;font-size: 3rem;text-align: center;background-color:#052501d4; color: #fff;}
.wrap-7 .image{position: relative;margin:20px auto ;width: fit-content;}
.wrap-7 .image-over{position: absolute;bottom:0px;left: 1px;right: 0px;display: none;}
.wrap-7 .image:hover .image-over{display: block; }

.wrap-8{padding: 0 30px 70px 30px;}
.text-center{text-align: center;margin-bottom: 60px;}
.wrap-8 p > span{font-family: rt;font-size: 5rem;  border-bottom:1px solid #000;}
.wrap-8 .owl-carousel .owl-item img{ width: 170px; border: 8px solid #459824;}
.wrap-8 .slider-description h3{font-family: rt;font-size: 3.2rem;line-height: 2.4rem; margin-bottom: 40px; margin-left: 30px;}
.wrap-8 .slider-description h3 > span{font-family: rr; font-size: 2rem; color: #459824; } 
.wrap-8 .slider-description p{font-family: rr; font-size:2rem; background-color: #052501; color:#fff; padding: 3rem; margin-bottom: 40px;}
.wrap-8 .slider-description p  b{color: #459824;}
.wrap-8 .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{background-color: #459824;}
.wrap-8 .owl-theme .owl-dots .owl-dot span{background-color: #000;}

.wrap-9 p > b{font-family: rr;font-size: 5rem;  border-bottom:1px solid #000;}
.wrap-9 p  span{font-family: rt; color: #459824;}

hr{border-bottom: 4px solid #052501;}

.wrap-10{background:url(../img/cc25.jpg) no-repeat center/cover;}
.wrap-10 form{background-color: #052501; border: 2px solid;  text-align: center; margin: 70px 0; padding: 30px 0;}
.wrap-10 input{ width: 500px; height:40px;margin-bottom: 30px;max-width: 100%;}
.wrap-10 textarea{width: 500px; height:120px; resize:none;  max-width: 100%;}
.wrap-10 button{margin-top: 10px;width: 233px;height: 57px;font-size: 4rem; color: #459824; background-color: #fff; max-width: 100%;}

.wrap-11{background-color: #052501;padding: 40px 0;}
.wrap-11 h2{font-size: 3rem; font-family: asb; color:#459824;}
.wrap-11 h2 b{font-size:1.4rem; color:#fff; display: block; margin-bottom: 14px;}
.wrap-11 ul{ padding: 0;}
.wrap-11 ul li{list-style: none;}
.wrap-11 ul li p{color: #459824;}
.wrap-11 ul li p a{color: #fff;}
.wrap-11 h3{ margin-bottom: 30px;}
.wrap-11 p{margin-bottom: 18px; font-size: 1.8rem; color: #fff;}
.wrap-11 input{max-width: 100%;}
.wrap-11 .btn{color: #fff; background-color: #37761e; width: 120px; height: 30px;border: none;}
.wrap-11 h3 span{color: #fff; font-size: 3rem; border-bottom:2px solid #459824;}
.wrap-11 p .fa-solid{font-size: 1.8rem; margin-right: 10px; color: #fff;}
.wrap-11 p > span{font-size:1.8rem; color: #fff;}

.wrap-12 {background-color: #459824;position: relative;}
.wrap-12 p{color: #fff; line-height: 66px; text-align: center;font-size: 2.4rem;}
.wrap-12 button{background-color: transparent; border: 1px solid; font-size: 24px; width: 30px; position: fixed; right: 16px;bottom: 13px; display: none;}
.wrap-12 button span{color: #000}

@media screen and (max-width:1220px) {
    
}

@media screen and (max-width:980px) {
    .row .col-t-2{flex-basis: 16.66%; max-width: 16.66%; }                       
    .row .col-t-3{ flex-basis: 25%; max-width: 25%; }
    .row .col-t-4{ flex-basis: 33.33%; max-width: 33.33%; }
    .row .col-t-6{ flex-basis: 50%; max-width: 50%; }
    .row .col-t-8{ flex-basis: 83.33%; max-width: 83.33%; }
    .row .col-t-12{ flex-basis: 100%; max-width: 100%; }
    .wrap-2 input{ width: 143px;}
    .wrap-2 nav ul li a {padding: 6px 5px;}
    .wrap-3 p {margin: 60px 0; }
    .wrap-11 p > span {font-size: 1.4rem;}
    .wrap-11 h3 span {font-size: 2rem;}
    .wrap-11 h1 img{width: 35px;}
    .wrap-11 h2{font-size:2rem;}
    .wrap-11 p .fa-solid {font-size: 1.6rem;margin-right: 6px;}
    .wrap-11 p{font-size:1.6rem;}
    .wrap-11 h2 b{font-size: 1.3rem;}
    .wrap-10 form{padding: 30px 6px;}


}

@media screen and (max-width:767px) {                                            
    .row .col-m-3{ flex-basis: 25%; max-width: 25%; }
    .row .col-m-4{ flex-basis: 33.33%; max-width: 33.33%; }
    .row .col-m-6{ flex-basis: 50%; max-width: 50%; }
    .row .col-m-8{ flex-basis: 83.33%; max-width: 83.33%; }
    .row .col-m-12{ flex-basis: 100%; max-width: 100%; }  
    .wrap-1 img{margin-bottom: 10px;} 
    .wrap-1 .mobile-hide{display: none;}
    .wrap-1 .hidden{display:block;}
    .wrap-1 .mob{float: right;transform: translate(-10px, 25px);}
    .wrap-2 .flex-box{display: none;}
    .wrap-2 p:nth-child(1){font-size: 9rem;}
    .wrap-2 p:nth-child(2){ font-size: 2.6rem;margin-bottom: 20px;}
    .wrap-2 p:nth-child(3){ font-size: 2rem;}
    .wrap-2 .btn{width: 116px;}
    .wrap-3 img{display: none;}
    .wrap-3 h3{font-size:3rem;}
    .wrap-3 h3 > span{font-size:3rem;}
    .wrap-3 button{width:180px;}
    .wrap-4 .mob-margin-bottom{margin-bottom: 15px;}
    .wrap-5 h3{font-size: 3.5rem;}
    .wrap-5 h3 > span{font-size: 3.5rem;}
    .wrap-6 h3{margin-bottom: 12px;}
    .wrap-6 img{margin:auto;}
    .wrap-6 p {margin-top:15px;}
    .wrap-6 .mg-button-1{margin-top:0;}
    .wrap-6 .mg-button-2{margin-top:0;}
    .wrap-6 button{width:180px;}
    .wrap-7 h3{font-size: 3.5rem;}
    .wrap-7 h3 > span{font-size: 3.5rem;}
    .wrap-7 img{width: 581px; height:290px;}
    .wrap-8 p > span{font-size: 3.5rem;}
    .wrap-8 .slider-description p{font-size: 1.6rem;}
    .wrap-10 button{  font-size: 2.5rem;  width: 138px; height: 40px;}
    .wrap-12 p{font-size: 1.6rem;}
    .wrap-2 .background-color{background-color: #052501; clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);}
    .wrap-2 nav ul{display: block; }
    .wrap-2 nav ul li a {text-align: center;}
    .wrap-2 .search-bar{display: none;}
    .wrap-2{position: relative;}
    .wrap-2 .sticky{ position: absolute; top: 0;left: 0; right: 0;z-index: 9999;}
}

@media screen and (max-width:460px) {
    .row .col-p-3{ flex-basis: 25%; max-width: 25%; }
    .row .col-p-4{ flex-basis: 33.33%; max-width: 33.33%; }
    .row .col-p-6{ flex-basis: 50%; max-width: 50%; }
    .row .col-p-8{ flex-basis: 83.33%; max-width: 83.33%; }
    .row .col-p-12{ flex-basis: 100%; max-width: 100%; }
    .wrap-2 .btn{margin:18px 10px;}
    .wrap-2 p:nth-child(1){font-size: 7rem;margin-top: 70px;}
    .wrap-2 p:nth-child(2){font-size: 2rem;}
    .wrap-2 p:nth-child(3){font-size: 1.6rem;}
    .wrap-2 .btn{width: 90px;}
    .wrap-8 .owl-carousel .owl-item img{ width:90px}
    .wrap-8 .slider-description h3{margin-bottom:8px;font-size: 2.2rem; }
    .wrap-8 .slider-description h3 > span{font-size: 1.6rem;}

}